services:
  db:
    image: ${POSTGRES_IMAGE:-postgres:18.1}
    environment:
      PGUSER: ferriskey
      POSTGRES_DB: ferriskey
      POSTGRES_PASSWORD: ferriskey
      POSTGRES_USER: ferriskey
    ports:
      - 5432:5432
    volumes:
      - pgdata:${POSTGRES_DATA_PATH:-/var/lib/postgresql}
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready
        - -d
        - ferriskey
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  api-build:
    build:
      context: .
      target: api
    environment:
      ALLOWED_ORIGINS: http://localhost:5555,http://127.0.0.1:5555
      DATABASE_HOST: db
      DATABASE_NAME: ferriskey
      DATABASE_PASSWORD: ferriskey
      DATABASE_USER: ferriskey
    ports:
      - 3333:3333
    depends_on:
      db-migrations-build:
        condition: service_completed_successfully
    profiles:
      - build

  db-migrations-build:
    build:
      context: .
      target: api
    entrypoint:
      - sqlx
    command:
      - migrate
      - run
      - --source
      - /usr/local/src/ferriskey/migrations
    environment:
      DATABASE_URL: postgresql://ferriskey:ferriskey@db/ferriskey
    restart: no
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - build
      - build-ssl

  webapp-build:
    build:
      context: .
      target: webapp
    environment:
      API_URL: http://localhost:3333
    ports:
      - 5555:80
    profiles:
      - build

  api-build-ssl:
    build:
      context: .
      target: api
    environment:
      ALLOWED_ORIGINS: https://localhost:5443,https://127.0.0.1:5443
      DATABASE_HOST: db
      DATABASE_NAME: ferriskey
      DATABASE_PASSWORD: ferriskey
      DATABASE_USER: ferriskey
      SERVER_ROOT_PATH: /api
      WEBAPP_URL: https://localhost:5443
    ports:
      - 3333:3333
    depends_on:
      db-migrations-build:
        condition: service_completed_successfully
    profiles:
      - build-ssl

  webapp-build-ssl:
    build:
      context: .
      target: webapp
    depends_on:
      api-build-ssl:
        condition: service_started
    environment:
      API_URL: /api
    ports:
      - 5443:443
    volumes:
      - ./.certs/dev-test-ssl:/etc/ssl/ferriskey:ro
      - ./front/nginx.ssl.conf:/etc/angie/http.d/default.conf:ro
    profiles:
      - build-ssl

  api-registry:
    image: ghcr.io/ferriskey/ferriskey-api
    environment:
      ALLOWED_ORIGINS: http://localhost:5555
      WEBAPP_URL: http://localhost:5555
      DATABASE_HOST: db
      DATABASE_NAME: ferriskey
      DATABASE_PASSWORD: ferriskey
      DATABASE_USER: ferriskey
    ports:
      - 3333:3333
    depends_on:
      db-migrations-registry:
        condition: service_completed_successfully
    profiles:
      - registry

  db-migrations-registry:
    image: ghcr.io/ferriskey/ferriskey-api
    entrypoint:
      - sqlx
    command:
      - migrate
      - run
      - --source
      - /usr/local/src/ferriskey/migrations
    environment:
      DATABASE_URL: postgresql://ferriskey:ferriskey@db/ferriskey
    restart: no
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - registry

  webapp-registry:
    image: ghcr.io/ferriskey/ferriskey-webapp
    environment:
      API_URL: http://localhost:3333
    ports:
      - 5555:80
    profiles:
      - registry
volumes:
  pgdata:
