$timing-cubic: cubic-bezier(0.25, 0.1, 0.25, 1);
.transition-timing {
  transition-timing-function: $timing-cubic;
}

.input {
  @apply relative min-h-[52px] cursor-pointer rounded-md border border-input bg-background px-3 py-2;
  transition:
    120ms all $timing-cubic,
    0 outline;

  label {
    @apply absolute translate-y-2 select-none text-sm text-muted-foreground duration-200 ease-in-out;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  &:hover:not(.input--error),
  &.input--focused:not(.input--error),
  .input__button--focused {
    @apply border-ring;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

    input,
    textarea {
      outline: none;
    }
  }
}

.input--small {
  @apply relative h-9 min-h-[36px];
}

.input__value {
  @apply absolute bottom-[7px] left-0 w-full appearance-none bg-transparent px-3 text-sm text-foreground ring-0;
}

.input--focused,
.input__button--focused {
  outline: 3px solid var(--ring);
  outline-offset: 0;
  label {
    @apply translate-y-0 text-xs;
  }
}

.input--label-up {
  label {
    @apply translate-y-0 text-xs;
  }
  .input__value[type="time"] {
    color: var(--muted-foreground);
  }
}

.input--disabled {
  @apply pointer-events-none border-input bg-muted/50 opacity-50;
  box-shadow: none !important;

  label {
    @apply text-muted-foreground/50;
  }

  .input__button--focused {
    box-shadow: none;
  }
}

.input--error,
.input--error .input__button {
  @apply border-destructive;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    @apply border-destructive;
  }
}

.input--error.input--focused {
  outline: 1px solid var(--destructive);
}

.input--success {
  @apply border-green-500;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.input__label {
  @apply h-full w-full;
}

.input__button {
  @apply relative flex h-full min-h-[52px] w-full cursor-pointer flex-col rounded border px-4 py-2 outline-none focus-visible:outline-none;
  transition: 120ms all $timing-cubic;

  &:hover,
  &:focus,
  &[aria-expanded="true"] {
    @apply border-ring;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  }
}

.input__list {
  @apply pointer-events-auto mt-2 max-h-96 w-full list-none overflow-scroll rounded border-input bg-popover p-2 text-popover-foreground focus-within:outline-none;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);

  ul {
    outline: 0;
  }
}

.input__item {
  @apply mb-1 cursor-pointer select-none rounded px-3 py-2 text-sm font-medium text-muted-foreground last:mb-0 hover:bg-accent hover:text-accent-foreground;

  &.is-active,
  &[data-current-selected],
  &[data-current-nav] {
    @apply bg-accent text-accent-foreground;
  }
}

.input__arrow {
  @apply absolute right-4 top-1/2 -translate-y-1/2 text-sm text-muted-foreground;
}

// time
input[type="time"],
input[type="date"],
input[type="datetime"] {
  &::-webkit-calendar-picker-indicator {
    background: none;
  }
  &::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  &::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
  }
}

input[type="number"] {
  // remove the chrome widget for number input
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
